<script setup lang="ts">
import { type Product } from '@/types/Product'
const props = defineProps<{
    product: Product
}>()
const emit = defineEmits<{
    selectedProduct: [Product]
}>()
const selected = function () {
    console.log('ProductCard: '+props.product)
    emit('selectedProduct', props.product)
}
</script>
<template>
    <v-sheet width="170" height="150" elevation="3" @click="selected">
        <v-img :src="`./img/coffees/product${product.id}.png`" height="120"></v-img>
        <div style="text-align: center;">{{ product.name }} {{ product.price }} บาท</div>
    </v-sheet>
</template>
